@font-face {
  font-family: "inter-bold";
  src: local("inter-bold"),
    url("../assets/fonts/static/Inter-Bold.ttf") format("truetype");
}

// Colors
$white: #fffdfa;
$dark-space: #00001a;
$metal: #5e607a;
$vermillion: #f15d51;
$yellow: #e9aa52;
$silver: #c5c6ce;